################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Latvija_apdzivotas_vietas/FileContentIndex
