@using Latvija_apdzivotas_vietas.Controllers;
@using Latvija_apdzivotas_vietas.Models;
@using Latvija_apdzivotas_vietas.Services;

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

@model IEnumerable<RemoteLocalityModel>
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!!!</h1>
</div>

<div id="map" style="height: 700px; width: 1500px" runat="server"></div>

<script>
    var map = L.map('map').setView([56.765, 24.747], 8);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    L.marker([56.765, 24.747]).addTo(map)
        .bindPopup('Here is Latvia!')
        .openPopup();

    $(function () {
        $("#findRemotes").click(function () {
            $.post("/Index/GetRemoteLocalities",
                function (response) {
                    console.log(response);
                    response.forEach(el => {
                        L.marker([el.north, el.east]).addTo(map)
                            .bindPopup(el.title)
                            .openPopup();
                    });
                }
            );
        });
    });

</script>


<form asp-controller="Index" asp-action="Index" method="post">
    <button type="submit">Find some places!</button>
</form>


<button id="findRemotes">Find remote places!</button>
